
.columnas{
display: inline;
height: 200px;
width: 200px;
background-color: #aaa;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f0f5;
    color: #333
}

header {
    background: #6d3b5e;
    color: white;
    padding: 20px;
    text-align: center
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    margin: 15px;
box-shadow: 1px 1px 5px rgb(0, 0, 0);
width:  300px;
    
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    text-align: center
}

button, select {
    padding: 10px;
    margin: 8px
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.perfume {
    background: white;
    margin: 10px;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #aaa
}

footer {
    text-align: center;
    padding: 20px
}

img{
    width: 200px;
    height: 200px;

}